/* General reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* :root {
    --primary: #0EA5E9;
    --primary-dark: #0369A1;
    --primary-light: #E0F2FE;
    --primary-ll: #F0F9FF;
    --surface: #ffffff;
    --surface-2: #F8FAFC;
    --surface-3: #F1F5F9;
    --text-1: #0F172A;
    --text-2: #475569;
    --text-3: #94A3B8;
    --border: #E2E8F0;
    --border-strong: #CBD5E1;
    --font: 'Segoe UI', Arial, sans-serif;
  }
*/

/* ====================================
SITEWIDE STYLES
==================================== */

/* For reponsiveness:
@media (max-width: 768px) {}
@media (max-width: 576px) {} */
body {
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
} 

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

/* Top navigation styles */
#topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 1em;

}

#siteLogo {
    font-family: Monserrat, sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
#siteLogo img {
    height: 1em;
    width: auto;
    margin-right: 0.3em;
}

#topNav ul {
    list-style: none;
    display: flex;
}

#navItems li {
    padding: 0.5em;
}
a, a:visited {
    text-decoration: none;
    color: black;
}
#navItems a:hover{
    text-decoration: underline solid 1px blue;
    color: blue;
    padding-bottom: 5px;
}

#activeNav {
    background-color: rgb(179, 201, 201);
    border-radius: 1em;
    text-decoration: underline solid 1px;
}
#activeNav a{
    padding: 1em;
}
#navItems a:active {
    color: rgb(165, 171, 177);
    text-decoration: underline solid 1px;
}


/* Hero Section */
.heroSection {
    background-color: darkblue;
    color: aliceblue;
    padding: 2em;
    margin-bottom: 2em;
}



/* Footer Styles */
footer {
    align-self: center;
}





/* ====================================
INDEX PAGE STYLES
==================================== */
/* Interactive Map styles */
/* Map settings */
#map{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    aspect-ratio: 2.05/1;
    background-image: url("../assets/images/world_map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position:relative;
    flex-grow: 1;
}

/* Dots positions */
.countryDot {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    transform: translate(-50%, -50%);
}

#australiaDot {
   top: 79%;
   left: 84%;

}
#canadaDot {
    top: 28%;
    left: 17%;
}

#germanyDot {
    top: 32%;
    left: 49.5%;
}
#uaeDot {
    top: 50.5%;
    left: 61.5%;
}
#usaDot {
    top: 41%;
    left: 19%;
}

 /* Dots glow */
.countryDot:hover {
    background-color: mediumblue;
    box-shadow: 0 0 0.5em 0.2em hsla(195, 53%, 79%, 0.75);
    transform: scale(1.5) translate(-30%, -30%);
    transition: 0.25s ease-out;
    cursor: pointer;
}

