/* General reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* :root {
    --primary: #0EA5E9;
    --primary-dark: #0369A1;
    --primary-light: #E0F2FE;
    --primary-ll: #F0F9FF;
    --surface: #ffffff;
    --surface-2: #F8FAFC;
    --surface-3: #F1F5F9;
    --text-1: #0F172A;
    --text-2: #475569;
    --text-3: #94A3B8;
    --border: #E2E8F0;
    --border-strong: #CBD5E1;
    --font: 'Segoe UI', Arial, sans-serif;
  }
*/

/* Sitewide styles */
body {
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
} 

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}


/* Interactive Map styles */
/* Map settings */
#map{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    aspect-ratio: 2.05/1;
    background-image: url("../assets/images/world_map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position:relative;
    flex-grow: 1;
}

/* Dots positions */
.countryDot {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    transform: translate(-50%, -50%);
}

#australiaDot {
   top: 79%;
   left: 84%;

}
#canadaDot {
    top: 28%;
    left: 17%;
}

#germanyDot {
    top: 32%;
    left: 49.5%;
}
#uaeDot {
    top: 50.5%;
    left: 61.5%;
}
#usaDot {
    top: 41%;
    left: 19%;
}

 /* Dots glow */
.countryDot:hover {
    background-color: mediumblue;
    box-shadow: 0 0 0.5em 0.2em hsla(195, 53%, 79%, 0.75);
    transform: scale(1.5);
    transition: 0.25s ease-out;
    cursor: pointer;
}

footer {
    align-self: center;
}